@charset "utf-8";

body{
    color:black;
}

h2{
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:30px;
    margin-left:10px;
    width:520px;
    background-color:rgb(234, 233, 233);
    border-left:4px solid red;
    padding-left:10px;
}

.confirm{
    margin: 0 auto;
    margin-left:10px;
    width:500px;
    background-color:whitesmoke;
    border: 2px solid rgb(234, 233, 233);
    padding-left:25px;
    padding-top:10px;
    border-radius: 10px;
    
}

.confirm2{
    margin: 0 auto;
    margin-left:10px;
    width:500px;
    height:140px;
    background-color:whitesmoke;
    border: 2px solid rgb(234, 233, 233);
    padding-left:25px;
    padding-top:20px;
    border-radius: 10px;
    
}

.button1{
    border: 2px solid rgb(200, 198, 198);
    background-color:rgb(200, 198, 198); ;
    color:whitesmoke;
    border-radius:5px;
    border-bottom:solid 2px gray;
}

.button2{
    border: 2px solid orange;
    background-color: orange;
    color:whitesmoke;
    border-radius:5px;
    border-bottom:solid 2px rgb(255, 149, 0)
}

.buttonwrap{
    margin-bottom:10px;
}

.buttonwrap form{
    display:inline-block;
    margin:0 10px;
}

